<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Registration</h2>
<form action="register" method="post">
 {% csrf_token %}
<input type="text" name="username" placeholder="Username"><br>
    <input type="text" name="first_name" placeholder="enter your frist name"><br>
    <input type="text" name="last_name" placeholder="enter your last name"><br>
    <input type="text" name="email" placeholder="enter your email id"><br>
    <input type="text" name="password" placeholder="enter your password"><br>
    <input type="text" name="password1" placeholder="conform your password"><br>
    <input type="submit"><br>
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>